.searchResultsBox {
    padding: 3vh;
    background-color: #1e293b;
    color:#cbd5e1;
    display: flex;
    flex-direction: column;
    gap:1.5vh;
    margin:1vh 1vh 1vh 0;
    border-radius: .25rem;
    grid-area: content;
    overflow-y: auto;
    align-items: center;
}

@media (max-width:600px) {
    .searchResultsBox {
        margin: 1vh 0 0 0;
    }
}

.searchResultBox {
    background-color: #cbd5e1;
    color: #1e293b;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    padding: 1vh 2vw 1vh 2vw;
    max-width: 70vw;
    min-width: 60vw;
    flex-direction: row;
    gap:5vw;
}

.searchResultBox:hover {
    cursor: pointer;
    color:#fafaf9;
    background-color: #ef4444;
}

.searchResultSubBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex:1;
}

.searchResultImportantInfoPart {
    display: flex;
    flex-direction: column;
    min-width: 20vw;
}

.searchResultSubPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchResultMainInfo {
    font-size: 1.3rem;
    font-weight: 400;
}

.searchResultSecInfo {
    font-size: 1.1rem;
}

.searchResultsButtonContainer {
    display: flex;
    gap:2vw;
}

.searchResultsButton {
    border: 1px solid #1e293b;
    padding: .5vh;
}