.profileBox {
    display:grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
        "profileInfo profileNav"
        "profileInfo profileContent";
    gap:1vh;
    margin:1vh 1vh 1vh 0vh;
    padding:1vh;
    background-color: #1e293b;
    color:#cbd5e1;
    border-radius: .25rem;
    height: 86vh;
}

.profileInfoBox {
    grid-area: profileInfo;
    display: flex;
    flex-direction: column;
    gap:1vh;
    border-right: 1px solid #cbd5e1;
}

.profileNav {
    grid-area: profileNav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2vw;
    padding:1vh;
    border-bottom: 1px solid #cbd5e1;
}

.profileContent {
    grid-area: profileContent;
    display: flex;
    flex-direction: column;
    gap:1vh;
    justify-content: center;
}

.profileName {
    font-size: 2rem;
    font-weight: 400;
    margin:0;
}

.profileText {
    font-size: 1.3rem;
}

