.sortButtonsBox {
    display:flex;
    flex-direction:row;
    gap:1vw;
    align-items: center;
    justify-content: center;
}

.sortButtonBox {
    border: none;
    background-color: #f9fafb;
    color: #1e293b;
    display: flex;
    flex-direction: row;
    gap: .5vh;
    border-radius: .25rem;
    align-items: center;
}

.sortButtonText {
    font-size: 1.4rem;
    font-weight: 400;
}

.cragBox {
    overflow-y: scroll;
    gap:1vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}

.cragClimb {
    border-radius: .25rem;
    padding: 1vh;
    width: 40vw;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.cragClimb:hover {
    cursor: pointer;
    background-color: #cbd5e1;
    color: #1e293b;
}