.AreasSearchModalBox {
    z-index: 200;
    position:absolute;
    background-color: #f9fafb;
    border: 1px solid #1e293b;
    min-width: 20vw;
    right:1%;
    display:flex;
    box-sizing: inherit;
    flex-direction: column;
    padding: .5vh;
    color:#1e293b;
    border-radius: .25rem;
}