.areasBox {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap:1vh;
    margin:1vh 1vh 1vh 0vh;
    padding:1vh;
    background-color: #1e293b;
    color:#f9fafb;
    border-radius: .25rem;
    height: 86vh;
}

.areasTitle {
    font-size: 3rem;
    font-weight: 400;
    margin:0;
}

.areasSearchSymbol {
    color:#1e293b;
}

.areasInputBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #1e293b;
    border-radius: .25rem;
    background-color: #f9fafb;
    justify-content: flex-start;
    max-width: 20vw;
}

.areasInput {
    border:none;
    outline:none;
    flex:1;
}

.areasSearchBox {
    display: flex;
    flex-direction: column;
}

.areasResultsBox {
    position:relative;
}

