.homeBox {
    grid-area: content;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "findClimbsLeft findClimbsRight"
        "awesomeClimbs awesomeClimbs";
}

.goodClimbsBox {
    display: flex;
    flex-direction: column;
    gap:1vh;
}

.goodClimb:hover {
    cursor: pointer;
}

.goodClimbTop {
    font-size: 1.5rem;
    font-weight: 400;
}

.goodClimbBottom {
    font-size: 1.2rem;
}

.findClimbsLeft {
    grid-area: findClimbsLeft;
}

.findClimbsRight {
    grid-area: findClimbsRight;
}

.awesomeclimbs {
    grid-area:awesomeClimbs;
}
