.recentBox {
    grid-area:recentbox;
    display:flex;
    flex-direction: column;
    gap:.75vh;
    padding: 1vh;
    background-color: #1e293b;
    color:#cbd5e1;
    margin: 1vh;
    border-radius: .25rem;
}

h3 {
    font-size: 1.6rem;
    padding-bottom: 1vh;
    border-bottom: 1px solid #cbd5e1;
    margin:0;
}

h4 {
    font-size: 1.2rem;
    margin:0;
}

.recentascentsbox {
    padding: .3vh;
    display: flex;
    flex-direction: column;
    gap:.4vh;
}

.recentascent {
    display: flex;
    flex-direction: column;
    padding:.2vh;
    gap:.2vh;
}

.recentclimb {
    font-size: 1.1rem;
}

.recentclimb:hover {
    background-color: #cbd5e1;
    color:#1e293b;
    cursor: pointer;
}

.recentuser {
    font-size: 1rem;
}

.recentuser:hover {
    background-color: #cbd5e1;
    color:#1e293b;
    cursor: pointer;
}