.searchBarModal {
    position:fixed;
    background: #f9fafb;
    border: 1px solid #1e293b;;
    width: 15vw;
    height: auto;
    top:20%;
    left:99%;
    transform: translate(-100%,-100%);
    display:flex;
    box-sizing: inherit;
    flex-direction: column;
    padding: .5vh;
    color:#1e293b;
}

.displayDataBox {
    display: flex;
    flex-direction: column;
    gap:.5vh;
    padding:.2vh;
}

.displayDataSubBox {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}


  