.searchBarModal {
    position:absolute;
    background-color: #f9fafb;
    border: 1px solid #1e293b;
    min-width: 20vw;
    right:1%;
    display:flex;
    box-sizing: inherit;
    flex-direction: column;
    padding: .5vh;
    color:#1e293b;
    border-radius: .25rem;
}

.displayDataBox {
    display: flex;
    flex-direction: column;
    gap:.5vh;
    padding:.2vh;
    border-bottom: 1px solid #1e293b;
}

.displayDataBox:hover {
    cursor: pointer;
    background-color: #cbd5e1 ;
}

.displayDataSubBoxTop {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.displayDataSubBoxBottom {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    font-size: .80rem;
}

p {
    margin:0;
}


  