.topNavMainBox {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    background-color: #1e293b;
    color: #cbd5e1;
    padding:1%;
    grid-area: topnav;
}

.topNavLinks {
    flex:1;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap:3vw;
    list-style: none;
    font-weight: 400;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

h1:hover {
    cursor: pointer;
    color: #f9fafb;
}

a {
    text-decoration: none;
    color:#cbd5e1;
  }

a:hover {
    color: #f9fafb;
}

.activeNav {
    border-bottom: 2px solid #f9fafb;
}

.material-symbols-sharp {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 2rem;
}

.topNavInputBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #1e293b;
    border-radius: .25rem;
    background-color: #f9fafb;
    justify-content: flex-start;
}

.topNavInput {
    max-height:1.5rem;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    border-radius: .25rem;
    border: transparent;
    padding: .2rem;
    background-color: #f9fafb;
    flex: 1;
    min-width: 0;
}

.topNavInput:focus {
    outline: none;
}

.topNavSearchResultBox {
    display: flex;
    flex-direction: column;
    min-width: 20vw;
}