html {
    font-size:12px;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color: #cbd5e1;
    width: 100vw;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#root {
    display:grid;
    grid-template-rows: 10% 20% 70%;
    grid-template-columns: 13vw 87vw;
    grid-template-areas: 
        "topnav topnav"
        "userbox content"
        "recentbox content";
    height: 100%;
}

button {
    background-color: #ef4444;
    color:#cbd5e1;
    border-radius: .25rem;
    border: 1px solid #cbd5e1;
    font-size: 1.2rem;
    font-weight: 400;
    padding: .3vh;
    font-family: 'Oswald', sans-serif;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    color:#f9fafb;
    cursor: pointer;
}

@media (max-width:600px) {
    #root {
        grid-template-columns: 100vw;
        grid-template-rows: 10% 90%;
        grid-template-areas: 
            "topnav"
            "content";
    }

    html {
        font-size: 8px;
    }

    
}