.createNewFormBox {
    display: flex;
    justify-content: center;
}

.createNewForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:3px solid #ef4444;
    border-radius: .5rem;
    width: 50vw;
    background-color: #cbd5e1;
    color:#1e293b;
}

.warningBox {
    display: flex;
    flex-direction: column;
    gap:1vh;
    margin:1vh 0 3vw 1vw;
}

.createNewSubTitle {
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    gap: .5vh;
    align-items: center;
    margin:0;
    font-weight: 200;
}