.modal {
  z-index: 200;
  position:fixed;
  background-color: #cbd5e1;
  color: #1e293b;
  border: .5vh solid #ef4444;
  border-radius: .25rem;
  width: 50%;
  height: auto;
  top:50%;
  left:80%;
  transform: translate(-100%,-50%);
  display:flex;
  flex-direction: column;
  gap: 2vh;
}

.display-none {
  display:none;
}

.modalClimbInfo {
  display: flex;
  flex-direction: column;
  gap:.5vh;
  background-color: #f9fafb;
  padding: 1vw 3vw 1vw 2vw;
}

.modalClimbInfoTop, .modalClimbInfoBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalClimbInfoTop {
  font-size: 2rem;
  font-weight: 700;
}

.modalClimbInfoBottom {
  font-weight: 100;
  font-size: 1.4rem;
}

.noMargin {
  margin:0;
}

.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalFormBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:1vh;
  padding: 1vw;
}

.modalFormSubBox {
  display: flex;
  flex-direction: column;
  gap:.5vh;
  justify-content: center;
  align-items: center;
}

.modalFormTitles {
  font-size: 1.5rem;
  font-weight: 100;
}

.modalFormInput {
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
}

.recommended {
  color:#ef4444;
  background-color: #f9fafb;
  border: 1px solid #ef4444;
}

.recommended:hover {
  color: #b91c1c;
  cursor: pointer;
  border-color: #b91c1c;
}

.closeAddAscentModalBox {
  position:absolute;
  top:1%;
  left:96%
}